@page "/about"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
<PageTitle>About</PageTitle>

<h1>InsightHub - Configurações</h1>

<p>
    Esta página é dedicada à parametrização do horário de atendimento do suporte,
    bem como à configuração de exceções de horário reduzido.
</p>