@page "/"

<PageTitle>Home</PageTitle>

<h1>InsightHub - Configurações</h1>

Está página é dedicada a realizar parametrização do horário de atendimento do suporte, bem como possíveis configurar exceções de horário reduzido.
