@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-end align-items-center gap-3">
            <AuthorizeView>
                <Authorized>
                    <span>
                        Olá, @context.User.Identity?.Name
                    </span>

                    <form method="post" action="/logout">
                        <button type="submit" class="btn btn-sm btn-outline-danger">
                            Sair
                        </button>
                    </form>
                </Authorized>

                <NotAuthorized>
                    <a href="/login">Entrar</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>